html{
     background-attachment: fixed;
}

main{
    min-height: 80%;
    height: auto;
	display:flex;
	align-content: center;
	justify-content:flex-start;
    flex-wrap: nowrap;
    flex-direction: column;

}
section{
	display:flex;
	align-items: center;
	justify-content:space-around;
	flex-direction: column;
    width: 100%;
}

#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6{
    margin-bottom: 20px;
    margin-top: 0;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    
  }
.container2{
  margin-left: 20%;
  margin-right: 20%;
}

iframe{
       width: 100%;
    height: 100%;
}
.sketchfab-embed-wrapper{
    width: 960px;
    height: 640px;
 }
     
.cierre{
    text-align: center;
    cursor: pointer
}

#central{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container3{ 
    display: flex;
justify-content: center;
    height: 100%;
 width: 100%;
}
    
/*Galería*/

.derecha{ 
       height: 100%;
       width: 100%;
}

#galeria {
  list-style-type:none;
  min-height:100%;
  max-width:100%;
  border:2px solid white;
  }
#galeria li {

  display: flex;
  align-items: flex-end;
  position: relative;
  width:4%;
  min-height:442px;
  float:left;
  border-left:1px solid #000;
  background-size: cover;
  cursor: pointer;
  }

#galeria #li6 {

    width:80%;

  }





#li1{


    background-image: url(../img/lago.jpg);
}

#li2{
    
    background-image: url(../img/and.jpg);
}

#li3{
    background-image: url(../img/ciudad.jpg);
}
#li4{
    background-image: url(../img/torsoVitrina.0001.png);
}
#li5{
    background-image: url(../img/glaciar.jpg);
}
#li6{
    background-image: url(../img/Coche.png);
}


.aclaracion {
  
  height: 15%;
  
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  text-align: center;
}

.contenedorImg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;

}
.hueco{
    height: 85%;
}

#galeria li:hover {
 width:80%;
}

#galeria li:hover ~ li {
  width:4%;
}

#galeria li:hover ~ #li6 {
  width:4%;
}


#galeria li:hover .aclaracion{
    opacity:1;
}
.container2 {
    height: 100%;
    position: relative;
    
}
/*galería slider*/
* {
  box-sizing: border-box;
}





.mySlides {
  display: none;
  height: 450px;
}



.cursor {
  cursor: pointer;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;

}

.row:after {

  content: "";
  display: table;
  clear: both;
}





.column {
  float: left;
  width: 16.66%;

}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.demo, .cursor{
    width: 100%;

}
.imagenG{
    width: 100%;
    height: 450px;
}

.sliderG{

    height: 100%;
    width: 60%;
    margin-bottom: 10px;
  }

.articuloGaleria{
    min-height: 446px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;

}



* {
  box-sizing: border-box;
}




.mySlides2 {
  display: none;
  height: 450px;

}




/*galeria2*/

/* Add a pointer when hovering over the thumbnail images */
.cursor2 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container2 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}




/* Six columns side by side */
.column2 {
  float: left;
  width: 16.66%;

}

/* Add a transparency effect for thumnbail images */
.demo2 {
  opacity: 0.6;
}

.active2,
.demo2:hover {
  opacity: 1;
}


.demo2, .cursor2{
    width: 100%;

}



/*galeria2*/

/* Add a pointer when hovering over the thumbnail images */
.cursor3 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover,
.next3:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext3 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container3 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row3:after {

  content: "";
  display: table;
  clear: both;
}




/* Six columns side by side */
.column3 {
  float: left;
  width: 16.66%;

}

/* Add a transparency effect for thumnbail images */
.demo3 {
  opacity: 0.6;
}

.active3,
.demo3:hover {
  opacity: 1;
}


.demo3, .cursor3{
    width: 100%;

}







/*overlay4 video*/
video{ 
    width: 100%;
    height: 100%;
}

